---
layout: minimal
title: "About me"
permalink: /about/
description: "Some description about William Tumeo..."
image: assets/img/about/about.png
---

<img itemprop="image" class="img-rounded about_perfil" src="{{site.profile_picture | prepend: site.baseurl}}" alt="My profile">
<h1>William Tumeo</h1>
<p>
	Hi, I'm <b {% include tooltip info="aka Tume（爪）" %}><i>William Tumeo</i></b>!
</p>
<p>
	I make <span {% include tooltip info="Free/Libre Open-Source Software" %}>FLOSS</span> games and various kinds of tools 🛠<br />
	I also try to make some art 🎨
</p>
<p>
	<img src="{{ "/assets/img/site/blog-image.png" | prepend: site.baseurl }}" alt="Profile Card">
</p>

<h2>About me</h2>

<p>
	I'm a Systems Analyst and Game Developer at <a href="https://twitter.com/NovastrikeMEDIA" target="_blank">@NovastrikeMEDIA</a>. <br />
	I'm a supporter of <span {% include tooltip info="I endorse only permissive licenses" %}>Free-Software Initiative.</span> <br />

	I 💜 Python and <a href="https://godotengine.org/" target="_blank" {% include tooltip info="An awesome open-source game engine" %}>Godot Engine</a>. <br />

	I try to do some art/pixelart using <a href="https://krita.org/en/" target="_blank" {% include tooltip info="An awesome open-source painting program" %}>Krita</a>. <br />

	I'm dyslexic but trying to learn English and <span {% include tooltip info="Japanese" pos="right" %}>日本語</span>. <br />
	<small>By the way I use Arch Linux :P</small>
</p>

<h2>My keys</h2>

<p>
	<p>
		PGP: <br />
		- <a href="/keys/gpg.pem.txt">Personal PGP Key</a><br />
		- <a href="/keys/git.pem.txt">Commit PGP Key</a>
	</p>
	<p>
		AGE: <br />
		- <a href="/keys/age.pub.txt">General AGE Key</a>
	</p>
</p>

<h2>Contact and SNS</h2>

<p>
	E-mail: <a href="mailto:contact@tumeo.space">contact@tumeo.space</a>
	<br />
	SNS: <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a> | <a href="https://{{ site.mastodon_instance_username }}" target="_blank">Mastodon</a> | <a href="https://bittube.video/accounts/tumeo/" target="_blank">PeerTube</a> | <a href="https://creary.net/@{{ site.creary_username }}" target="_blank">Creary</a> | <a href="https://medium.com/@tumeowilliam" target="_blank">Medium</a>

</p>


<h2>Projects</h2>

<p>
	You can find my games on <a href="https://{{ site.itch_username }}.itch.io/" target="_blank">itch.io</a>, a great platform for indie games.
	<br />
	You can also check out my repositories on <a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a> and <a href="https://gitlab.com/{{ site.gitlab_username }}" target="_blank">GitLab</a>.
</p>

<h3>Some projects</h3>
<div class="aboutme">
	<ul class="recent">
		{% for project in site.projects %}
	    	<li><a href="{{ project.url}}"><h3 class="project-name" itemprop="name">{{ project.name }}</h3></a></li>
	    {% endfor %}
	</ul>
</div>

<hr>
<p>My games and tools are free but if you like them consider donating, every penny counts ;)</p>

<center style="margin-bottom: -29px;">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick" />
		<input type="hidden" name="hosted_button_id" value="K3AKB34MTMA9A" />
		<input type="image" src="/assets/img/misc/paypal-donate-button.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
		<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
	</form>
</center>

<p style="text-align:center; margin-bottom: -25px;">
	<a href="https://liberapay.com/tumeo/donate"><img class="no-zoom" src="/assets/img/misc/liberapay-donate-button.png" alt="LiberaPay"></a>
</p>

<p style="text-align:center; margin-bottom: -25px;">
	<a href="https://app.picpay.com/user/tumeo"><img class="no-zoom" src="/assets/img/misc/picpay-donate-button.png" alt="PicPay"></a>
</p>

<p style="text-align:center">
	BTC: <code style="font-size: 16px;">14RJGXC6uCaFhUHb8qVjQvDvUZwygSupYk</code>
</p>
<p style="text-align:center">
	<img src="/assets/img/site/14RJGXC6uCaFhUHb8qVjQvDvUZwygSupYk.png" alt="BTC Donation" title="BTC Donation">
</p>
