<p>My games and tools are free but if you like them consider donating, every penny counts ;)</p>

<center style="margin-bottom: -29px;">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick" />
		<input type="hidden" name="hosted_button_id" value="K3AKB34MTMA9A" />
		<input type="image" src="/assets/img/misc/paypal-donate-button.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
		<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
	</form>
</center>

<p style="text-align:center; margin-bottom: -25px;">
	<a href="https://liberapay.com/tumeo/donate"><img class="no-zoom" src="/assets/img/misc/liberapay-donate-button.png" alt="LiberaPay"></a>
</p>

<p style="text-align:center; margin-bottom: -25px;">
	<a href="https://app.picpay.com/user/tumeo"><img class="no-zoom" src="/assets/img/misc/picpay-donate-button.png" alt="PicPay"></a>
</p>

<p style="text-align:center; margin-bottom: -25px;">
	<a href="https://www.blockchain.com/btc/address/14RJGXC6uCaFhUHb8qVjQvDvUZwygSupYk"><img class="no-zoom" src="/assets/img/misc/btc-donate-button.png" alt="Bitcoin"></a>
</p>

<p style="text-align:center; margin-bottom: -25px;">
	<a href="https://www.blockchain.com/bch/address/qqeg6293jt6tcsdc284uy2rmvqq0y5nqsgjyd0qf9c"><img class="no-zoom" src="/assets/img/misc/bch-donate-button.png" alt="Bitcoin"></a>
</p>
