<header class="header-site" role="banner">
	<div class="content">

		<div class="person">
			<div {% include tooltip info="Ciao!" pos="left" hilite="no" %} data-balloon-visible style="width:130px; height:130px; position:absolute; display:inline"></div>
			<img id="profile-pic" alt="My profile pic" src="{{ site.profile_picture | prepend: site.baseurl }}">
		</div>

		<h1>
			<span class="site-title">
				<a {% include tooltip info="ABOUT ME" pos="down" hilite="no" %} href="{{ "about" | prepend: site.baseurl }}">/{{ site.username | upcase }}/</a>
			</span>
		</h1>

		<div class="icons-home">
			<!-- <a aria-label="Send email" title="Send me an e-mail" href="mailto:{{ site.email }}">
				<svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
			</a> -->

			<style>
				[aria-label][data-balloon-pos]::after {
					padding: 1em 1em !important;
				}
				h2.post-title {
					text-align: center !important;
				}
			</style>

			<a {% include tooltip info="Follow me!" pos="up-right" hilite="no" %} alt-pic="https://pbs.twimg.com/profile_images/1232187620752535552/XjnzT_zO_400x400.jpg" target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
				<svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
			</a>

			<a style="display:none" rel="me" href="https://{{ site.mastodon_instance_username }}">Mastodon</a>
			<a {% include tooltip info="Follow me!" pos="down" hilite="no" %} alt-pic="https://files.mastodon.social/accounts/avatars/000/333/352/original/543a1f6fc21227ff.png" rel="me" target="_blank" href="https://{{ site.mastodon_instance_username }}">
				<svg class="icon icon-mastodon"><use xlink:href="#icon-mastodon"></use></svg>
			</a>

			<!-- <a style="display:none" rel="me" href="href="https://{{ site.misskey_instance_username }}">Misskey</a>
			<a {% include tooltip info="Follow me!" pos="down" hilite="no" %} alt-pic="/assets/img/site/profile-cat.png" rel="me" target="_blank" href="https://{{ site.misskey_instance_username }}">
				<svg class="icon icon-misskey"><use xlink:href="#icon-misskey"></use></svg>
			</a> -->

			<a {% include tooltip info="My arts!" pos="down" hilite="no" %} alt-pic="https://ipfs.creary.net/ipfs/QmNiYmGhXb7VgQ2H2yVbeyJL9qr3pvKhvSsfejYbgSEMHE" target="_blank" href="https://creary.net/@{{ site.creary_username }}">
				<svg class="icon icon-creary"><use xlink:href="#icon-creary"></use></svg>
			</a>

			<a {% include tooltip info="My repos!" pos="down" hilite="no" %} alt-pic="https://avatars0.githubusercontent.com/u/10428035?s=460&v=4" target="_blank" href="https://github.com/{{ site.github_username }}">
				<svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
			</a>

			<a {% include tooltip info="My games!" pos="up-left" hilite="no" %} target="_blank" href="https://{{ site.itch_username }}.itch.io/">
				<svg class="icon icon-itchio"><use xlink:href="#icon-itchio"></use></svg>
			</a>

		  <!--  <a aria-label="Ask me anything on CuriousCat" title="Ask me anything on CuriousCat" target="_blank" href="https://curiouscat.me/tumeo">
				<svg class="icon icon-curiouscat"><use xlink:href="#icon-curiouscat"></use></svg>
			</a> -->


		</div>

		<ul class="recent">
			<p>Recent posts:</p>
			 {% for post in site.posts limit:3 %}
				<li>

					<a href="{{ post.url | prepend: site.baseurl }}">
						<h2 class="post-title" itemprop="name" {% include tooltip info=post.categories pos="up-right" hilite="no" %}>{{ post.title }}</h2>
					</a>
				</li>
			  {% endfor %}
		</ul>

		<ul class="recent">
			<p>Recent projects:</p>
			 {% for project in site.projects limit:3 %}
				<li>
					<a target="_blank" href="{{ project.url }}">
						<h2 class="post-title" itemprop="name">{{ project.name }}</h2>
					</a>
				</li>
			  {% endfor %}
		</ul>

	</div>
	{% include menu-search.html %}
</header>
