// COLORS
main = #5d4d7a;
mainHover = rgba(135, 116, 169, 0.42);
hover = darken(main, 50%)
mainLight = #AB67AB
sec  = #FFFFFF
lightGray = #F2F2F2
texts = #DCDCDC
colorcode = #615576
blackBase = #2f2f33
neotree = #2f2f33
page_bg = #25252A
page_title = #866bb7
page_date = #DCDCDC
ballon_bg = #1e1e1e

// Resolution
cut = 37.5rem
halfhd = 1280px
sdres = 800px


