<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        {% include tree-posts.html %}
        {% for cat in page.categories %}
            {% include tree-categories.html name=cat %}
        {% endfor %}
        <section class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
            {% if page.date %}
            <div class="time">
                <time itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
            </div>
            {% endif %}
            <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                {% if page.color %}
                <div class="post-image" style="background-color: {{page.color}}">
                {% else %}
                <div class="post-image">
                {% endif %}
                    <img src="{{page.image | prepend: site.baseurl}}" alt="">
                </div>
                {{ content }}
            </article>

            {% include share.html %}
            {% include comments.html %}
            {% include footer.html %}
            {% include scripts.html %}
        </section>
    </body>
</html>
